*.a
*.d
*.dll
*.log
*.o
*.obj
*.orig
*.so
.cache/
.trunk
.omc/
.vscode
build/
builddir*/
meson-info/
meson-logs/
meson-private/
subprojects/packagecache/
output/
subprojects/Catch2-*/
subprojects/PCSC-*/
subprojects/podofo-*/
subprojects/.wraplock
